[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
signalrcore = "*"
pylint = "*"
pytest = "*"
black = "*"
mypy = "*"
pre-commit = "*"
types-requests = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python src/main.py"
test = "pytest"
lint = "pylint --recursive=y src"
format = "black src"
typecheck = "mypy src --ignore-missing-imports"
precommit_install = "pre-commit install"