name: CI

on:
  push:
    branches:
      - '*'
      - '!main'
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: read

jobs:
  lint:
    name: Linting du code Python
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install -r requirements.txt
    - name: Lint with pylint
      run: |
        # Stop the build if pylint encounters an error
        pipenv run pylint --recursive=y --errors-only --disable=C,R src
    - name: Format with black
      run: pipenv run black src
    - name: Typecheck the code
      run: pipenv run mypy src --ignore-missing-imports
  
  test:
    needs: lint
    name: Exécution des tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: "3.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install -r requirements.txt
    - name: Run pytest
      run: pipenv run pytest
      env:
        DATABASE_URL: ${{secrets.DATABASE_URL}}
  
  docker:
    needs: [lint, test]
    name: Création et publication de l'image Docker
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged
    steps:
    - uses: actions/checkout@v4
    - name: Connexion à Docker Hub
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        username: eq110
        password: ${{secrets.DOCKER_HUB_PASSWORD}}
    - name: Extraire metadata pour Docker
      id: meta
      uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
      with:
        images: eq110/oxygencs-h24-gr1-eq10
        tags: |
          type=raw,value=${{ github.run_id }}
          type=raw,value=latest
    - name: Créer et publier image Docker
      uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
      with:
        context: .
        push: true
        tags: ${{steps.meta.outputs.tags}}
        labels: ${{steps.meta.outputs.labels}}
  kubernetes:
    needs: [ lint, test ]
    name: Déploiement à K8S
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Context?
      uses: Azure/k8s-set-context@v4
      with:
        kubeconfig: ${{ secrets.KUBECONFIG }}
    - name: Déployer à K8S
      uses: Azure/k8s-deploy@v4
      with:
        action: deploy
        manifests: |
          manifests
        namespace: grp01eq10-namespace